
@media (min-width: @screen-xs){
	
}

@media (min-width: @screen-sm) {
	
}

@media (min-width: @screen-md){
	#menu-atas{
		.bahasa{
			padding-top: 15px;
		}
	}
	#navigasi-utama{
		.navbar-brand{
			top: -20px;
		}
		&.kecil{
			#logo-tengah{
				left: 46%;
			}
		}
	}

	//LOGO TENGAH
	#logo-tengah{
	    left: 40%;
	}

	// SLIDER
	.camera_wrap{
		.camera_pag{
			
		}
		.camera_caption{
			width: 50%;
		}
	}

	#isi{
		position: absolute;
		top: 250px;
	}
	#kabar-utama{
		.headline-item{
			figcaption{
				padding: 30px;
				h1{
					font-size: 28px;
					a{
						width: 60%;
					}
				}
			}
		}
	}

	.indeks{
		right: 0;
		bottom: -1px;
		padding: 0 15px;
	}
	#footer-atas{
		padding-bottom: 325px;
	}
}

@media (min-width: @screen-lg){

}

